<ion-content>
    <div class="back">
      <ion-icon name="chevron-back-outline" class="iback"></ion-icon>
    </div> 

    <div class="heart">
      <ion-icon name="heart-outline" class="iheart"></ion-icon>
    </div> 

    <ion-card class="card">
      <img  style="height: 350px; width: 400px; opacity: 90%;" src="https://scontent.fmnl37-2.fna.fbcdn.net/v/t39.30808-6/465270627_544467991676641_3298581099295172762_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGfEIi1OxG7o6wvPsJc8Y9htyhd63RtXQW3KF3rdG1dBTMD8-TC2waWiy6L9HRZGdhfVHZgNsEWFYX1X_tb65-b&_nc_ohc=WWcHzeB_xykQ7kNvgFJQsdR&_nc_zt=23&_nc_ht=scontent.fmnl37-2.fna&_nc_gid=A0cc-heZkZN5nk8rWlOFGnF&oh=00_AYC_DABDaDlMmmP1k0A8G1GWoDuhIFrkQzf29VflJCxZlw&oe=674E7177" alt="">
    </ion-card>

    <h2 class="name">But First Coffee</h2>

    <div class="loc">
      <ion-icon name="location-outline"  class="icon-calendar"></ion-icon>
      <p style="font-size: 13px; position: relative; bottom: 8px;">Wellspring Complex</p>

      <div class="rate">
        <ion-icon name="star" style="color: yellow; padding-left: 16px; position: relative;  bottom: 33px; left: 120px;"></ion-icon>
        <p class="rating">4.8</p>
      </div>
      
    </div>

    <p class="text">Find your cozy corner, grab your coffee, and let the good vibes flow. What’s your favorite spot to unwind at But First, Coffee?</p>


    <div style="margin-top: 70px;">
      <h2 class="name">Location</h2>
      <div class="mapswrapper"><iframe style="border-radius: 20px; padding: 8px;" width="360" height="450" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8&q=FXFH%2BJ9M%20Ext%2C%20Wellspring%20Complex%2C%20Villaluz%2C%20cor%20Mabini%20Street%20Extension%2C%20Cabanatuan%20City%2C%203100%20Nueva%20Ecija&zoom=10&maptype=roadmap"></iframe><a href="https://www.lawod.com/fnf-mods/">fnf mods</a><style>.mapswrapper{background:#fff;position:relative}.mapswrapper iframe{border:0;position:relative;z-index:2}.mapswrapper a{color:rgba(0,0,0,0);position:absolute;left:0;top:0;z-index:0}</style></div>
    </div>
    


</ion-content>
