<ion-header>
  <!-- <ion-toolbar>

  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding-top">

  <p class="title"><b>But First Coffee</b></p>

  <ion-card class="cardx">
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOHcfyner-QOCx70Kmxyx9a-eGXeXdQABjNIXY1=s1360-w1360-h1020"></ion-img>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><b>But First Coffee</b></p>
            <p class="ion-padding-top">But First, Coffee. The fastest growing cafe franchise in Metro Manila, now available anywhere in the Philippines. Franchise Now.</p>
          </ion-col>
        </ion-row>

        <ion-row>
        <ion-col class="date">
          <ion-icon name="calendar-outline" class="icon-calendar"></ion-icon>
          <p>Nov 25-Dec 5</p>
        </ion-col>

        <ion-col class="date">
          <ion-icon name="location-outline"  class="icon-calendar"></ion-icon>
          <p style="font-size: 13px;">Wellspring Complex</p>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card style="border-radius: 10px;">
    <ion-grid>
      <ion-row>
        <ion-col>

          <div style="display: flex; flex-direction: row;">
            <img class="prof" src="https://scontent.fmnl37-1.fna.fbcdn.net/v/t39.30808-6/455024243_7890045881079538_1674319721748082539_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGkJ5t68T1WoatY1uBW888fvhMmLUQHzMi-EyYtRAfMyCQeUrSorcgsFFirdi4gqPuEwbvNh6R6c6mcAr5QftMF&_nc_ohc=-DAiFDVNQP4Q7kNvgEhOidk&_nc_zt=23&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=AZxxFGLYRoLExF25Xxwu65e&oh=00_AYBb3SJUjTwm_bzjdA-Q-U6G5gW_lAuuqaTKg0wGHRG2bw&oe=674D0B14" alt="">
          <p class="name">James Marius Santos</p>
          </div>

          <div class="ion-padding-top rev" style="color: yellow;">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>

            <ion-card-subtitle class="date">3 days</ion-card-subtitle>
          </div>

          <p>Great place for a coffee  and have meeting highly recommended friendly service very clean place </p>

          <div style="display: flex; flex-direction: row;">
            <ion-icon name="heart-outline" style="font-size: 27px;"></ion-icon>
            <p style="padding-right: 16px; padding-left: 8px; position: relative; bottom: 8px;">Like</p>
            <ion-icon name="chatbubble-outline" style="font-size: 27px;"></ion-icon>
            <p style="padding-left: 8px; position: relative; bottom: 8px;">Comment</p>
          </div>
            
        </ion-col>

      </ion-row>

    </ion-grid>

    <!--  -->
    <div style="border-top: 1px solid #737373;"></div>

    <ion-grid>
      <ion-row>
  
        <ion-col style="display: flex; flex-direction: row;">
          <ion-card class="other_pic">
            <img src="https://lh3.googleusercontent.com/p/AF1QipNM8Lgzs1FfETgb7f6suV3S_Vl7NewfgdlXRM3C=s1360-w1360-h1020" alt="">
          </ion-card>

          <ion-card class="other_pic">
            <img src="https://lh3.googleusercontent.com/p/AF1QipPv_qAX2XWMGl-9_gCCa0E3w5HG-6k0STJfLPvy=s1360-w1360-h1020" alt="">
          </ion-card>
        </ion-col>
  
      </ion-row>
    </ion-grid>
  
  </ion-card>

  <ion-card style="border-radius: 10px;">
    <ion-grid>
      <ion-row>
        <ion-col>

          <div style="display: flex; flex-direction: row;">
            <img class="prof" src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t39.30808-6/387768461_7068695076503425_2463232284157375489_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHMUBR7BMo2fAO9QqMtwugex0C221vjPUDHQLbbW-M9QHz4jvRRC2Vy5u-D80ULLQ4YibH1EwcAf4FEVJz4HYgZ&_nc_ohc=gpQpPl-1EnQQ7kNvgH-LbHV&_nc_zt=23&_nc_ht=scontent.fmnl3-2.fna&_nc_gid=AYaCL-hTDbWqW1nh_1jTUuf&oh=00_AYDIIoLxTP4I3BbwawR4wnZaE2EeBlFGqHILaTyaB_PnMQ&oe=674D1F65" alt="">
          <p class="name">Richmond Gillaco</p>
          </div>

          <div class="ion-padding-top rev" style="color: yellow;">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>

            <ion-card-subtitle class="date">5 days</ion-card-subtitle>
          </div>

          <p>Good service and friendly staff</p>

          <div style="display: flex; flex-direction: row;">
            <ion-icon name="heart-outline" style="font-size: 27px;"></ion-icon>
            <p style="padding-right: 16px; padding-left: 8px; position: relative; bottom: 8px;">Like</p>
            <ion-icon name="chatbubble-outline" style="font-size: 27px;"></ion-icon>
            <p style="padding-left: 8px; position: relative; bottom: 8px;">Comment</p>
          </div>
            
        </ion-col>

      </ion-row>

    </ion-grid>

    <!--  -->

  
  </ion-card>



</ion-content>
