ion-content{
  --background-color: #080404;
}

.header_txt{
  padding-top: 10px;
  text-align: center;
}

.search{
  margin-left: 4px;
  margin-top: 2px;
  height: 50px;
  width: 50px;
  border-radius:100px;
  // background-color: #e1e1d5 ;
  // color: #252525;
  padding: 11px;
  font-size: 24px;
  text-align: center;
}

.profile{
  position: relative;
  left: 60px;

  margin-top: 2px;
  height: 45px;
  width: 45px;
  border-radius:100px;
  text-align: center;
}

.ic{
  position: relative;
  bottom: -2px;
  right: -1px;
}

.iz{
  position: relative;
  bottom: 2px;
  right: 2px;
}

.ix {
  position: relative;
  bottom: 2px;
  right: 2px;
}

.searchy{
  margin-left: 4px;
  margin-top: 2px;
  height: 40px;
  width: 40px;
  border-radius:100px;
  background-color:#080404 ;
  color: #ffffff;
  padding: 11px;
  font-size: 24px;
  text-align: center;
}

.searchx{
  margin-left: 17px;
  margin-top: 2px;
  height: 40px;
  width: 40px;
  border-radius:100px;
  background-color:#080404 ;
  color: #ffffff;
  padding: 11px;
  font-size: 24px;
  text-align: center;
}

.location{
  margin-left: 4px;
  margin-top: 2px;
  height: 40px;
  width: 40px;
  border-radius:100px;
  background-color: #e1e1d5 ;
  color: #252525;
  padding: 11px;
  font-size: 24px;
  text-align: center;
}

.center-search{
  position: relative;
  right: -4px;
  margin-top: 2px;
  height: 40px;
  width: 160px;
  border-radius:100px;
  background-color:#080404 ;
  color: #ffffff;
  padding: 11px;
  font-size: 24px;
  text-align: end;
}

.cardx{
  border-radius: 20px;
  // background-color: #e1e1d5 ;
}

.date{
  display: flex;
  flex-direction: row;
}

.icon-calendar{
  position: relative; 
  top: 2px; 
  padding-right: 8px;
}