<!-- <ion-header>
  <ion-toolbar>
    <ion-button>
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-title class="header_txt ion-no-border"> Explore </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">

  <ion-grid>
    <ion-row>

      <!--  -->
      <ion-col>
        <div class="search">
          <!-- <ion-icon name="search-outline" class="ic"></ion-icon> -->
        </div>
      </ion-col>
      <!--  -->

      <!--  -->
      <ion-col>
        <ion-title class="header_txt">
          Explore
        </ion-title>
      </ion-col>
      <!--  -->

      <!--  -->
      <ion-col>
        <div class="notif">
          <!-- <ion-img src="https://scontent.fmnl37-1.fna.fbcdn.net/v/t39.30808-6/455024243_7890045881079538_1674319721748082539_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGkJ5t68T1WoatY1uBW888fvhMmLUQHzMi-EyYtRAfMyCQeUrSorcgsFFirdi4gqPuEwbvNh6R6c6mcAr5QftMF&_nc_ohc=-DAiFDVNQP4Q7kNvgEhOidk&_nc_zt=23&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=AZxxFGLYRoLExF25Xxwu65e&oh=00_AYBb3SJUjTwm_bzjdA-Q-U6G5gW_lAuuqaTKg0wGHRG2bw&oe=674D0B14"></ion-img> -->
          <!-- <ion-icon name="notifications-outline" class="ix"></ion-icon> -->
           <img style="border-radius: 100px;" src="https://scontent.fmnl37-1.fna.fbcdn.net/v/t39.30808-6/455024243_7890045881079538_1674319721748082539_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGkJ5t68T1WoatY1uBW888fvhMmLUQHzMi-EyYtRAfMyCQeUrSorcgsFFirdi4gqPuEwbvNh6R6c6mcAr5QftMF&_nc_ohc=-DAiFDVNQP4Q7kNvgEhOidk&_nc_zt=23&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=AZxxFGLYRoLExF25Xxwu65e&oh=00_AYBb3SJUjTwm_bzjdA-Q-U6G5gW_lAuuqaTKg0wGHRG2bw&oe=674D0B14" alt="">
        </div>
      </ion-col>
      <!--  -->


    </ion-row>

    <!-- 2nd row -->

    <ion-row class="ion-padding-top">

      <ion-col>
        <div class="searchy">
          <ion-icon name="copy-outline" class="iz"></ion-icon>
        </div>
      </ion-col>

      <!--  -->

      <ion-col>
        <div class="center-search">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-col>

      <!--  -->

      <ion-col>

        <div class="searchx">
          <ion-icon name="images-outline" class="iz"></ion-icon>
        </div>

      </ion-col>

      <ion-col>

        <div class="location">
          <ion-icon name="map-outline" class="iz"></ion-icon>
        </div>

      </ion-col>


      
    </ion-row>

  </ion-grid>

  <ion-card class="cardx">
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOHcfyner-QOCx70Kmxyx9a-eGXeXdQABjNIXY1=s1360-w1360-h1020"></ion-img>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><b>But First Coffee</b></p>
          </ion-col>
        </ion-row>

        <ion-row>
        <ion-col class="date">
          <ion-icon name="calendar-outline" class="icon-calendar"></ion-icon>
          <p>Nov 25-Dec 5</p>
        </ion-col>

        <ion-col class="date">
          <ion-icon name="location-outline"  class="icon-calendar"></ion-icon>
          <p style="font-size: 13px;">Wellspring Complex</p>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="cardx">
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipN4-eQPbA-9c2INAJEpHWG_EKmNT-xTI81cpq6b=s1360-w1360-h1020"></ion-img>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><b>Chin Cafe</b></p>
          </ion-col>
        </ion-row>

        <ion-row>
        <ion-col class="date">
          <ion-icon name="calendar-outline" class="icon-calendar"></ion-icon>
          <p>Nov 25-Dec 5</p>
        </ion-col>

        <ion-col class="date">
          <ion-icon name="location-outline"  class="icon-calendar"></ion-icon>
          <p style="font-size: 13px;">Wellspring Complex</p>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="cardx">
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipM9siO9phjDS0-PZUx3KfEwdfqweiMmI_SCIRlP=s1360-w1360-h1020"></ion-img>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><b>Chin Cafe</b></p>
          </ion-col>
        </ion-row>


        <ion-row>
        <ion-col class="date">
          <ion-icon name="calendar-outline" class="icon-calendar"></ion-icon>
          <p>Nov 25-Dec 5</p>
        </ion-col>

        <ion-col class="date">
          <ion-icon name="location-outline"  class="icon-calendar"></ion-icon>
          <p style="font-size: 13px;">Wellspring Complex</p>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
</ion-content>
